@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carrossel.css");
@import url("styles/topicos.css");
@import url("styles/contato.css");
@import url("styles/rodapé.css");

/* Declaração da fonte personalizada */
@font-face {
    font-family: 'MinhaFonte';
    src: url('fonts/minhaFonte.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --cor-de-fundo: #f5faffde;
    --branco: #000000;
    --laranja: #cf8c08;
    --azul-degrade: linear-gradient(97.54deg, #41071f1c 35.49%, #100107 165.37%);
    --fonte-principal: 'MinhaFonte', sans-serif; /* Usando a nova fonte como fonte principal */
    --azul: #002F52;
    --fonte-secundario: "Josefin Sans";
    --preto: #000000;
    --cinza: #000000;
    --cinza-claro: #858585;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal); /* Usando a nova fonte */
    font-size: 16px;
    font-weight: 400;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Playfair Display', serif;
}

.content-box {
    border: 2px solid #ffc400;          /* Cor da borda */
    border-radius: 16px;              /* Cantos arredondados */
    padding: 20px;                   /* Espaçamento interno */
    background-color: #dfdeded2;       /* Cor de fundo leve */
    box-shadow: 0px 4px 8px rgb(255, 255, 255); /* Sombra suave */
    margin: 20px 0;                  /* Espaçamento externo */
    max-width: 1600px;                /* Largura máxima */
    line-height: 1.6;                /* Altura da linha */
    font-size: 1.5em;                /* Aumentar tamanho do texto */
}

/* Opcional: Aplicar a fonte personalizada em títulos específicos */
h1, h2 {
    font-family: 'MinhaFonte', serif; /* Usando a nova fonte nos títulos */
}

:root {
    --cor-de-fundo: #f5faffde;        /* Fundo claro */
    --cor-titulo-site: #cf8c08;       /* Cor visível para o título */
    --branco: #000000;
    --laranja: #cf8c08;
    --azul-degrade: linear-gradient(97.54deg, #bb7a01bb 35.49%, #ffe600 165.37%);
    --fonte-principal: 'MinhaFonte', sans-serif;
    --azul: #000000;
    --preto: #ffffff;
    --cinza: #ffffff;
    --cinza-claro: #858585;
}

body {
    background-color: var(--cor-de-fundo);
    font-family: var(--fonte-principal);
}

.container__titulo {
    color: var(--cor-titulo-site);   /* Cor do título */
    font-family: var(--fonte-principal);
    font-size: 5em;                  /* Tamanho maior para visibilidade */
    text-align: center;              /* Centralizar o título */
    margin-top: 20px;
}

.autor {
    text-align: center; /* Centraliza o conteúdo */
    margin-bottom: 20px;
}

.autor__imagem {
    width: 200px; /* Ajusta o tamanho da imagem */
    height: auto;
    border-radius: 20%; /* Deixa a imagem circular */
    margin-bottom: 50px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2); /* Adiciona sombra para destacar */
}

.autor h2 {
    margin-top: 0;
}